body{
    display: flex;
    justify-content: center;
}
.card{
    box-sizing: border-box;
    width: 400px;
    height: 450px;
    border: 1px black solid;
    text-align: center;
    padding: 20px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}
img{
    width: 50%;
    height: 70%;
}
button{
    margin-top: 3%;
    width: 90%;
    height: 3rem;
    border: 1px black solid;
    border-radius: 25px;
    transition: 0.3s;
} 
button:hover{
    background-color: black;
    color: wheat;
}